/*USER PROFILE*/

#user{
  width: 290px;
  height: 248px;
  position: relative;
  border-radius:5px;
  background-image:url('../images/user/prof.jpg');
  background-repeat:no-repeat;
  background-size: 290px;
  background-color: #F3EDE9;
}

#avatar img{
  width: 54px;
  height: 54px;
  position: absolute;
  left: 118px;
  top: 20px;
  border: white 3px solid;
  border-radius: 3px;
}

#user-prof{
  min-height: 145px;
}

#user-details {
  background-color: white;
}

#user-details div{
  display: inline-block;
  width: 25%;
  padding: 10px 10px 10px 10px;
}

#user-details a{
  text-decoration: none;
}

#user-details .title{
  color: #8D9DB3;
  font-size: 10px;
}

#user-details .data{
  color: #89544E;
  font-size: 18px;
  font-weight: bold;
}

#user-name{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 84px;
}

#user-name .name{
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px #292f33;
}

#user-name .handle{
  font-size: 15px;
  color: #fff;
}

#compose-tweet{
  margin: 8px 5% 0 5%;
}

#compose-tweet textarea{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  resize: none;
  color: #D7DBDD;
  border: 2px solid #EAE0D9;
  padding: 6px 8px 5px 6px;
  width: 95%;
  height: 18px;
}

#compose-tweet #compose-options{
  margin-top: 10px;
}

#compose-tweet #compose-options div{
  display: inline-block;
  background-repeat: no-repeat;
  height: 39px;
  opacity: 0;
}

#compose-tweet #option-photo{
  background-image: url(../images/options/option-photo.png);
  width: 42px;
  /*margin-top: 10px;*/
  padding-right: 5px;
}

#compose-tweet #option-loc{
  background-image: url(../images/options/option-loc.png);
  width: 38px;
  /*margin-top: 10px;*/
  padding-right: 5px;
}

#compose-tweet #option-photo:hover{ background-image: url(../images/options/option-photo-hover.png); }
#compose-tweet #option-loc:hover{ background-image: url(../images/options/option-loc-hover.png); }

#compose-tweet #char-count{
  width: 20px;
  padding-left: 32px;
  margin-top: 12px;
  vertical-align: top;
}

#compose-tweet #option-tweet{
  background-image: url(../images/options/option-tweet.png);
  width: 97px;
  margin-left: 10px;
  vertical-align: top;
}