/*WHO TO FOLLOW*/

#who-to-follow .user{
  min-height: 54px;
  padding-bottom: 10px;
}

#who-to-follow .user .userimage{
  width: 54px;
  height: 54px;
  float: left;
  border-radius:5px;
  padding-right: 10px
}

#who-to-follow .user a{
  text-decoration: none;
}

#who-to-follow .user a .full-name{
  color: #000;
  font-weight: bold;
  line-height: 25px;
}

#who-to-follow .user a .handle{
  color: #66757f;
}

#who-to-follow .title-area span{
  font-size: 20px;
  color: #66757f;
}

#who-to-follow .title-area a{
  font-size: 12px;
  color: #89544E;
  text-decoration: none;
}

#who-to-follow .title-area a:hover{
  text-decoration: underline;
}

.follow-button {
  background-image:url(../images/follow.png);
  border: none;
  width: 87px;
  height: 29px;
  outline: none;
}

.follow-button:hover {
  background-image:url(../images/follow_hover.png);
}

.follow-footer{
  color: #89544E;
}

.follow-footer a{
  font-size: 12px;
  color: #89544E;
  text-decoration: none;
}

.follow-footer a:hover{
  text-decoration: underline;
}