#tweets-container{
  width: 590px;
  min-height: 100px;
  display: inline-block;
  vertical-align: top;

  border-radius:5px;
  background-color: white;
  border: 1px solid #EAE0D9;
}

#tweets-container #title{
  font-size: 22px;
  color: #66757f;
  padding: 10px 0 10px 10px;
}

#tweets-container .divider{
  width: 100%;
  border-bottom: 1px solid #ccd6dd;
}

#tweets-container .tweet{
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.tweet .full-name{
  font-weight: bold;
  color: #000;
}


.tweet .message{
  padding-top: 5px;
  color: #000;
  font-size: 14px;
}

.tweet .message a{
  text-decoration: none;
  color: #89544E;
  line-height: 20px;
  padding-top: 10px;
}

.tweet .reply-img{
  width: 12px;
  height: 9px;
  background-image:url(../images/user-options/reply.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 5px;
}

.tweet .retweet-img{
  width: 12px;
  height: 9px;
  background-image:url(../images/user-options/retweet.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 5px;
}

.tweet .favorite-img{
  width: 12px;
  height: 9px;
  background-image:url(../images/user-options/favorite.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 5px;
}

.tweet .more-img{
  width: 12px;
  height: 9px;
  background-image:url(../images/user-options/more.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 5px;
}

.tweet:hover{ background-color: #F5F8FA; }
.tweet:hover .link-expand{ color: #89544E; }
.tweet:hover #user-options a{ color: #8899a6; }
.tweet:hover .reply-img{background-image:url(../images/user-options/reply_hover.png);}
.tweet:hover .retweet-img{background-image:url(../images/user-options/retweet_hover.png);}
.tweet:hover .favorite-img{background-image:url(../images/user-options/favorite_hover.png);}
.tweet:hover .more-img{background-image:url(../images/user-options/more_hover.png);}

.tweet a{ text-decoration: none; }
.tweet .full-name:hover {text-decoration: underline; color: #89544E;}
.tweet .time-elapsed:hover {text-decoration: underline; color: #89544E;}
.tweet .handle, .tweet .time-elapsed{ color: #8899a6; }
.tweet .message a:hover{ text-decoration: underline; }
.tweet .tweet-footer{ padding-top: 5px; }
.tweet .tweet-footer a{ text-decoration: none; font-size: 12px; }
.tweet .tweet-footer a:hover{ text-decoration: underline; }
.tweet .link-expand { color: #8899a6; }
.tweet #user-options { float: right; }
.tweet #user-options a{ color: #ccd6dd; padding-right: 10px }
.tweet .non-image{ margin-left: 64px; }



