/*MAIN BODY AND HEADER*/

body{
  background-image:url('../images/background.jpg');
  background-size: 1500px;
  background-repeat: no-repeat;
  background-color: #485265;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

header{
  background-color: #fff;
  min-height: 46px;
  text-align: center;
  margin:0px auto;
  position:fixed;
  width: 100%;
  top:0px;
  z-index: 100;
}

header img{ vertical-align: middle; }
header div{ display: inline-block; }
header a{ color: #66757F; }

#logo img{
  width: 20px;
  height: 16px;
}

#left_menu a{
  padding-right: 10px;
  font-weight: bold;
  transition: color 1s;
  text-decoration: none;
}

#left_menu{ padding-right: 150px; }
#left_menu a:hover{ color: #895429; }
#right_menu a{ padding-left: 10px; }

#search_div{
  padding-left: 150px;
  padding-top: 5px;
}

#search_box{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  background-color: #A3ACB2;
  color: #D7DBDD;
  border: none;
  padding-left: 10px;
  width: 221px;
  height: 32px;
  background-image:url('../images/header/search.png');
  background-repeat:no-repeat;
}

#search_box::-webkit-input-placeholder { color: #e1e8ed; }
#search_box:-moz-placeholder { color: #e1e8ed; }
#search_box::-moz-placeholder { color: #e1e8ed; }
#search_box:-ms-input-placeholder { color: #e1e8ed; }
textarea, input { outline: none; }

.content {
  width:936px;
  margin: 70px auto;
}

/*USER PROFILE*/

#user{
  width: 290px;
  height: 248px;
  position: relative;
  border-radius:5px;
  background-image:url('../images/user/prof.jpg');
  background-repeat:no-repeat;
  background-size: 290px;
  background-color: #F3EDE9;
}

#avatar img{
  width: 54px;
  height: 54px;
  position: absolute;
  left: 118px;
  top: 20px;
}

#user-prof{
  min-height: 145px;
}

#user-details {
  background-color: white;
}

#user-details div{
  display: inline-block;
  width: 25%;
  padding: 10px 10px 10px 10px;
}

#user-details .title{
  color: #8D9DB3;
  font-size: 9px;
}

#user-details .data{
  color: #89544E;
  font-size: 22px;
}

#user-name{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 84px;
}

#user-name .name{
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px #292f33;
}

#user-name .handle{
  font-size: 15px;
  color: #fff;
}

#compose-tweet{
  margin: 5px 5% 0 5%;
}

#compose-tweet input{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;

  color: #D7DBDD;
  border: 1px solid #EAE0D9;
  padding-left: 10px;
  width: 95%;
  height: 32px;
}

/*WHO TO FOLLOW*/

#who-to-follow{
  border: 1px solid #EAE0D9;
  width: 290px;
  position: relative;
  border-radius:5px;
  background-color: white;
}

#who-to-follow .user{
  min-height: 54px;
  padding: 5px 0 5px 10px;
}

#who-to-follow .user .userimage{
  width: 54px;
  height: 54px;
  float: left;
  border-radius:5px;
  padding-right: 5px;
}

#who-to-follow .user a{
  text-decoration: none;
}

#who-to-follow .title-area span{
  padding-left: 10px;
  font-size: 20px;
  color: #66757f;
}

#who-to-follow .title-area a{
  padding-left: 10px;
  font-size: 11px;
  color: #89544E;
  text-decoration: none;
}

#who-to-follow .title-area a:hover{
  text-decoration: underline;
}

/*TRENDS*/

#trends{
  width: 290px;
  position: relative;
  border-radius:5px;
  background-color: #F3EDE9;
}

/*TWITTER-DETAILS*/

#twitter-details{
  width: 290px;
  position: relative;
  border-radius:5px;
  background-color: #F3EDE9;
}