body{
  background-image:url('../images/background.jpg');
  background-size: 1500px;
  background-repeat: no-repeat;
  background-color: #485265;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
  background-color: #fff;
  min-height: 46px;
  text-align: center;
}

#logo img{
  width: 20px;
  height: 16px;
}

#left_menu a{
  text-decoration: none;
}

#left_menu{
  display: inline-block;
  padding-right: 100px;
}

#logo{
  display: inline-block;
}

#right_menu{
  display: inline-block;
  padding-left: 100px;
}

#search_box{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  background-color: #A3ACB2;
  color: #D7DBDD;
  border: none;
  padding-left: 10px;
  width: 221px;
  height: 32px;

  background-image:url('../images/header/search.png');
  background-repeat:no-repeat;
}

#search_box::-webkit-input-placeholder { color: #e1e8ed; }
#search_box:-moz-placeholder { color: #e1e8ed; }
#search_box::-moz-placeholder { color: #e1e8ed; }
#search_box:-ms-input-placeholder { color: #e1e8ed; }
textarea, input { outline: none; }

